<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h1>Relay Selection</h1>
        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>
    </head>
    <body>
        <div class="relayGroup">
            <button class="relay" id="1">relay 1</button>
            <button class="relay" id="2">relay 2</button>
            <button class="relay" id="3">relay 3</button>
            <button class="relay" id="4">relay 4</button>
            <button class="relay" id="5">relay 5</button>
            <button class="relay" id="6">relay 6</button>
            <button class="relay" id="7">relay 7</button>
            <button class="relay" id="8">relay 8</button>
        </div>
    </body>
</html>